body {
  padding-top: 60px;
}
body, html {
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    background-color:#fff;
}
h1 {
    font-family: "Merriweather";
    padding: 10px;
    margin-bottom: 10px;
}
h2 {
    font-family: "Merriweather";
    font-weight: 300;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 150%;
}
h3 {
    font-family: "Merriweather";
    font-weight: 200;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 150%;
}